li{
	cursor: pointer;
	padding: 10px;


}

li:hover{
	background: #466d7e;
    opacity: 10;
    border-radius: 10px;
    color: gold;
}

.procedimiento{
	height: 800px;
	overflow-y:scroll
}

.espacio{
	margin-right: 5px;

}


.menuStilos{

	padding-top: 50px;

}

.buscar_doctor{
		overflow-x: scroll;
		height: 400px;
		


}

.boxslider{
	overflow-y:scroll;
	height:200px;
}

.titulo_kadosh{
	margin-left: 30%;

}