li{
	cursor: pointer;
	padding: 10px;


}

li:hover{
	background:#0275d8;
    opacity: 10;
    border-radius: 10px;
    color:greenyellow;
}

.procedimiento{
	overflow-y:scroll;
	height:350px;
}

.espacio{
	margin-right: 5px;

}


.menuStilos{

	padding-top: 50px;
	background:#fafdff;
}

.buscar_doctor{
		overflow-x: scroll;
		height: 400px;
		


}

.boxslider{
	overflow-y:scroll;
	height:200px;
}

.titulo_kadosh{
	margin-left: 30%;

}

.interfaz_reporte{
	overflow-y:scroll;
	height: 400px;
}

.tableflow{
	overflow-y: scroll;
	height: 250px;
}
.boton_pos{
	margin-left: 80%;
}
.boton_perfil{
	margin-left:0%;
}
.boton_doctor{
	margin-left: 80%;
}

.boton_paciente{
		margin-left: 84%;
}	
@media (min-width: 320px) and (max-width: 480px) {

	.boton_pos{
		margin-left: 50%;
	}
	.boton_perfil{
		margin-top: 3%;
   	    margin-left: 20%;
	}
	.boton_doctor{
		margin-left: 58%;
	}
	.boton_paciente{
		margin-left: 58%;
	}
}